/* styles.css */

.header {
    background-color: #1F2937
}

.one {
    background-color: #1F2937
}

    .main-text {
        font-size: 48px;
        font-weight: bold;
        color: #F9FAF8
    }

    .secondary-text {
        font-size: 18px;
        color: #E5E7EB
    }
    
.two {

}

.three {

}

.four {

}

.footer {

}

